<section class="mt-3 pb-5">
  <h3 class="colorPrincipal text-center">

    {{ObjDatos.LugarSelect == 'Restaurante' ? 'Restaurante' : (ObjDatos.LugarSelect == 'Parqueadero' ? 'Parqueadero' :
    'Papelería')}}
  </h3>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" href="#nav-home" data-toggle="tab" role="tab"
        aria-controls="nav-home" aria-selected="true">
        {{ObjDatos.LugarSelect == 'Restaurante' ? 'Platos' : (ObjDatos.LugarSelect == 'Parqueadero' ? 'Parqueadero' :
        'Papeleria')}}
      </a>
      <a *ngIf="ObjDatos.LugarSelect == 'Restaurante'" class="nav-item nav-link" id="nav-profile-tab"
        href="#nav-profile" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Bebidas</a>
      <a *ngIf="ObjDatos.LugarSelect == 'Restaurante'" class="nav-item nav-link" id="nav-contact-tab"
        href="#nav-contact" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">Snacks</a>
    </div>
  </nav>
  <div class="row">
    <div class="col-sm-12 h-50">
      <div class="card w-100 overflow-auto">
        <!---->
        <div class="tab-content mt-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row lugar-row">
              <div class="col-6 col-md-4 mb-4 text-center" *ngFor="let item of lstMaterial">
                <button class="button_lugar" (click)="open(content,item)">
                  <img src="assets/images/{{item.img}}.jpg" class="lugar-img"><br>
                  <b>{{item.nombre}}</b><br>
                  <b>{{item.precio | number}}</b>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="ObjDatos.LugarSelect == 'Restaurante'" class="tab-pane fade" id="nav-profile" role="tabpanel"
            aria-labelledby="nav-profile-tab">
            <div class="row lugar-row">
              <div class="col-6 col-md-4 mb-4 text-center" *ngFor="let item of lstMaterial2">
                <button class="button_lugar" (click)="open(content,item)">
                  <img src="assets/images/{{item.img}}.jpg" class="lugar-img"><br>
                  <b>{{item.nombre}}</b><br>
                  <b>{{item.precio | number}}</b>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="ObjDatos.LugarSelect == 'Restaurante'" class="tab-pane fade" id="nav-contact" role="tabpanel"
            aria-labelledby="nav-contact-tab">
            <div class="row lugar-row">
              <div class="col-6 col-md-4 mb-4 text-center" *ngFor="let item of lstMaterial3">
                <button class="button_lugar" (click)="open(content,item)">
                  <img src="assets/images/{{item.img}}.jpg" class="lugar-img"><br>
                  <b>{{item.nombre}}</b><br>
                  <b>{{item.precio | number}}</b>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
    <div class="col-sm-12">
      <!--Table-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">Producto</th>
            <th scope="col" class="text-center">Precio</th>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Sub</th>
            <th scope="col" class="text-center">-</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detailsObj; index as i">
            <td class="text-center">
              <img src="assets/images/{{item.img}}.jpg" class="mr-2" style="width: 20px">
              {{ item.nombre }}
            </td>
            <td class="text-center">{{ item.precio | number }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-center">{{ item.subTotal | number }}</td>
            <td class="text-center">
              <button class="button_lugar" (click)="eliminarItem(item)">
                <fa-icon [icon]="['fas', 'trash']" data-original-title="" title="">
                </fa-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td class="text-center">Servicio</td>
            <td class="text-center">{{ servicio() | number }}</td>
            <td class="text-center">{{ 1 }}</td>
            <td class="text-center">{{ servicio() | number }}</td>
            <td class="text-center"></td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Total =</th>
            <th scope="col" class="text-center">{{ suma() + servicio() | number}}</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </tbody>
      </table>
      <!--Table-->
    </div>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{objModal.nombre}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #form="ngForm" novalidate autocomplete="off">
        <div class="form-group">
          <label for="dateOfBirth">Cantidad</label>
          <div class="input-group">
            <input id="dateOfBirth" (keyup)="validateModal(dp.value)" class="form-control"
              placeholder="Ingrese la cantidad de {{objModal.nombre}}" #dp name="dp" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancelar</button>
      <button (click)="Add(objModal, dp.value); modal.close();" [disabled]="form.invalid || !validateModal(dp.value)"
        class="btn btn-warning">Siguiente</button>
    </div>
  </ng-template>
  <div class="row no-gutters align-items-center justify-content-center pt-5">

    <div class="col-11 text-center">
      <button (click)="despachar()" [disabled]="detailsObj.length <= 0" class="btn btn-warning">Siguiente</button>
    </div>
  </div>
</section>
