<section class="mt-3 pb-5">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" href="#nav-home" data-toggle="tab" role="tab"
        aria-controls="nav-home" aria-selected="true">Platos</a>
      <a class="nav-item nav-link" id="nav-profile-tab" href="#nav-profile" data-toggle="tab" role="tab"
        aria-controls="nav-profile" aria-selected="false">Bebidas</a>
      <a class="nav-item nav-link" id="nav-contact-tab" href="#nav-contact" data-toggle="tab" role="tab"
        aria-controls="nav-contact" aria-selected="false">Snacks</a>
    </div>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row lugar-row">
        <div class="col-6 col-md-4 mb-4 text-center" *ngFor="let item of lstMaterial">
          <img src="assets/images/{{item.img}}.jpg" class="lugar-img"><br>
          <b>{{item.nombre}}</b><br>
          <b>{{item.precio}}</b>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>
</section>
