<section class="mt-3 pb-5">
  <h2 class="colorPrincipal text-center">
    {{ObjDatos.nombre + ' ' +ObjDatos.apellidos}}
  </h2>
  <h3 class="colorPrincipal text-center">
    {{ObjDatos.celular}}
  </h3>
  <h3 class="colorPrincipal text-center">
    Recoge en la fecha {{ObjDatos.fechaYHora | date}} a las {{ObjDatos.fechaYHora | date: 'shortTime'}}
  </h3>
  <h3 class="colorPrincipal text-center">
    Paga con {{ObjDatos.metodoPagoSelect}}
  </h3>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn colorPrincipal" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Presiona para el resumen
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--Table-->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of detailsObj; index as i">
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-center">{{ item.nombre }}</td>
              </tr>
              <tr>
                <td class="text-center">{{ 1 }}</td>
                <td class="text-center">Servicio</td>
              </tr>
            </tbody>
          </table>
          <!--Table-->
        </div>
      </div>
    </div>
  </div>
  <div class="pt-3">
    <h2 class="colorPrincipal text-center">
      El valor a pagar es: <br> <b>${{totalService()}} COP</b>
    </h2>
  </div>
  <div class="form-config align-items-center justify-content-center pt-5">
    <form novalidate #form="ngForm" autocomplete="off">
      <div class="form-group mt-2">
        <label for="MensajeFinal" class="textPrincipal">Envía un mensaje adicional</label>
        <textarea [(ngModel)]="mensajeFinal" name="txarmensajeFinal" class="form-control textPrincipal textareadetalle"
          id="txarmensajeFinal" placeholder="Ingresa el mensaje" type="text"></textarea>
      </div>
    </form>
  </div>
  <div class="row no-gutters align-items-center justify-content-center pt-5">
    <div class="btnfijo">

      <div class="col-11 text-center">
        <button (click)="guardar()" class="btn btn-warning">Envíar</button>
      </div>
    </div>
  </div>
</section>
