<section class="section">
  <div class="container h-100 pt-5">
    <div class="row no-gutters mb-5">
      <div class="col-12">
        <div class="text-center">
          <a href="#">
            <h1><img src="assets/icons/icon-72x72.png" class="img-fluid" alt="img"></h1>
          </a>
        </div>
      </div>
    </div>
    <article class="row text-center">
      <div class="col-12 mt-5">
        <button type="button" class="btn btn-warning btn-circle-home" (click)="navigationToDatos()">
          <fa-icon [icon]="['fas', 'hamburger']" data-original-title="" title=""></fa-icon>
          <p class="txtcard">Ingresar</p>
        </button>
      </div>
    </article>
  </div>
</section>
